<div class="topbar">
    <nav id="nav-bar" class="nav-bar nav-bar--left">
        <ul class="nav-bar__lists">
            <li><a href="#" class="nav-bar__lists__link">
                <svg class="svg-icon">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#square"></use>
                </svg>
            </a></li>
            <li><a class="nav-bar__lists__link" href="#"><span>Whatevs</span></a></li>
        </ul>
    </nav>
    <nav id="nav-bar--right" class="nav-bar nav-bar--right">

        <ul class="nav-bar__lists nav-bar--right__lists--left">
            <li>
                <a class="nav-bar__lists__link" id="burger" href="#">
                <svg class="svg-icon">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#menu"></use>
                </svg>
            </a>
            </li>
            <li class="nav-bar__lists__link"> <input type="search" name="searchInput" placeholder="Search..."> </li>
        </ul>

        <ul class="nav-bar__lists nav-bar__lists--right">
            <li class="nav-bar__lists__link">
                <a href="#" style="font-weight: bold; font-size: 24px;">LT</a>
            </li>

            <li class="nav-bar__lists__link">
                <a href="#" role="button" id="activities" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <img src="assets/images/icons8-more-26.png">

                </a>
                <div class="dropdown-menu" aria-labelledby="activities">
                    <a class="dropdown-menu__item" href="#">

                        <div class="circle">
                            <svg class="svg-icon">
                                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#square"></use>
                            </svg>
                        </div>

                        <div class="dropdown-menu__item__title">
                            <h5>Robert </h5>
                            <p >1min</p>
                        </div>
                    </a>
                    <a class="dropdown-menu__item" href="#">Another action</a>
                    <a class="dropdown-menu__item" href="#">Something else here</a>
                </div>
            </li>

            <li class="nav-bar__lists__link">
                <a href="#" role="button" id="notifications">

                    <img src="assets/images/icons8-notification-24.png">
                </a>
            </li>

            <li class="nav-bar__lists__link">
                <a href="#" role="button" id="profile" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <div class="circle">
                        <img class="boxes__image" src="assets/images/justMe.jpg" alt="" style="width: 48px; height: 48px;">
                    </div>
                </a>
                <div class="dropdown-menu" aria-labelledby="profile">
                    <a class="dropdown-menu__item" href="#">Action</a>
                    <a class="dropdown-menu__item" href="#">Another action</a>
                    <a class="dropdown-menu__item" href="#">Something else here
                    </a>
                </div>
            </li>
        </ul>
    </nav>
</div>
