<div class="side-menu">
    <ul class="side-menu__lists--title side-menu__lists">
        <li class="side-menu__lists__list">main</li>
    </ul>
    <ul class="side-menu__lists">
        <li class="side-menu__lists__list{{#is basename 'dashboard'}} active{{/is}}"><a href="#">Menu</a></li>
        <li class="side-menu__lists__list"><a href="#">Menu</a></li>
        <li class="side-menu__lists__list"><a href="#">Menu</a></li>
    </ul>
</div>
