---
custom_basename: profile
---
<div class="container-fluid">
    <div class="row">
        <div class="col-xl-4">
            <div class="row">
                <div class="col-xl-12">
                    <div class="boxes">
                        <div class="profile profile--left">
                            <div class="profile--left__top-part">
                                <div class="circle">
                                    <img class="boxes__image" src="assets/images/justMe.jpg" alt="">
                                </div>
                                <h4>Kristupas Lapeika</h3>
                                <p>@IdontKnowWhatIAmDoing</p>
                                <div class="button-wrapper">
                                    <a class="follow-button" href="#"><span>Follow</span></a>
                                    <a class="message-button" href="#"><span>Message</span></a>
                                </div>
                            </div>
                            <div class="profile--left__bottom-part">
                                <ul>
                                    <li> <p><b>Full Name :</b>    Kristupas Lapeika</p> </li>
                                    <li> <p><b>Mobile :</b>    +37063221122</p> </li>
                                    <li> <p><b>Email :</b>    kristupas.lapeika@gmail.com</p> </li>
                                    <li> <p><b>Location :</b>    Lithuania</p> </li>
                                </ul>
                                <div class="social-media-wrapper">
                                    <svg class="svg-icon">
                                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#facebook"></use>
                                    </svg>
                                    <svg class="svg-icon">
                                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#twitter"></use>
                                    </svg>
                                    <svg class="svg-icon">
                                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#skype"></use>
                                    </svg>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="col-xl-12">
                    <div class="boxes">
                        <div class="profile profile--bottom">
                            <p>My Amazing Skills:</p>
                            <p>
                                <br>
                                <b>Error 404</b>
                                <br>
                                Skills not found!
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-8">
            <div class="boxes">
                <div class="profile profile--right">
                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                      <li class="nav-item">
                        <a class="nav-link active" id="about-tab" data-toggle="tab" href="#about" role="tab" aria-controls="about" aria-selected="true">About Me</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" id="gallery-tab" data-toggle="tab" href="#gallery" role="tab" aria-controls="gallery" aria-selected="false">Gallery</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" id="settings-tab" data-toggle="tab" href="#settings" role="tab" aria-controls="settings" aria-selected="false">Settings</a>
                      </li>
                    </ul>
                    <div class="tab-content" id="myTabContent">
                      <div class="tab-pane fade show active" id="about" role="tabpanel" aria-labelledby="about-tab">

                          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

                      </div>
                      <div class="tab-pane fade" id="gallery" role="tabpanel" aria-labelledby="gallery-tab">

                          <p>*Insert original and Important content here*</p>

                      </div>
                      <div class="tab-pane fade" id="settings" role="tabpanel" aria-labelledby="settings-tab">
                          <div class="settings__form">
                              <form class="settings-form" name="settings-form">
                                  <div class="settings__form__item">
                                      <p>Full Name</p>
                                      <input type="text" name="name" value="Kristupas Lapeika">
                                  </div>
                                  <div class="settings__form__item">
                                      <p>Email</p>
                                      <input type="text" name="email" value="kristupas.lapeika@gmail.com">
                                  </div>
                                  <div class="settings__form__item">
                                      <p>Username</p>
                                      <input type="text" name="username" value="Lapeikutis">
                                  </div>
                                  <div class="settings__form__item">
                                      <p>Password</p>
                                      <input type="text" name="pass" placeholder="6-15 characters">
                                  </div>
                                  <div class="settings__form__item">
                                      <p>Re-Password</p>
                                      <input type="text" name="re-pass" placeholder="6-15 characters">
                                  </div>
                                  <div class="settings__form__item">
                                      <p>About me</p>
                                      <textarea name="name" rows="3">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</textarea>
                                  </div>
                                  <div class="settings__form__item">
                                      <button type="submit" name="button">Save</button>
                                  </div>
                              </form>
                          </div>
                      </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
